<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjw.mapper.SchoolImgMapper">

    <insert id="addSchoolImgList" parameterType="list">
        insert into school_img(
        b_url,
        m_url,
        rank,
        school_id,
        title,
        url)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.b_url},
            #{item.m_url},
            #{item.rank},
            #{item.school_id},
            #{item.title},
            #{item.url})
        </foreach>
    </insert>

</mapper>
